/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body {
  background-color: #3366ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.6;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 25px;
  border-bottom: 1px solid #ffcc33;
}

.page-header__item {
  width: 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.page-title {
  text-align: center;
}

.homepage-head {
  text-align: left;
}

.page-body {
  padding: 0px;
  text-align: center;
}

.table {
  padding: 25px;
  text-align: center;
  margin: 0 auto;
  border-spacing: 25px;
}

h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 1;
  color: #fff;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

p {
  color: #fff;
}

a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #ededed;
  text-decoration: none;
}

a:hover {
  /* No underlining when hovering over a link */
  color: #ccffff;
  text-decoration: none;
}

a:focus {
  /* No underlining when hovering over a link */
  color: #ccffff;
  text-decoration: none;
}

a:active {
  /* selcted link */
  color: var(primary-text-color);
}

form {
  font-family: inherit;
  color: var(primary-text-color);
}

table {
  font-family: inherit;
  color: var(primary-text-color);
}

th {
  font-weight: 500;
  color: undefined;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #ffcc33;
  color: #6633cc;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 20px;
  border-radius: 0px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button__secondary {
  background-color: #ededed;
  color: #6633cc;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-bottom-left-radius: 50%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

/* start grid fallback */
.grid__item {
 display: inline-block;
 width: 33%;
}
/* end grid fallback */

.grid {
  display: -ms-grid;
  display: grid;
  /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 50px;
}

.grid__item {
  background-color: #6633cc;
  padding: 20px;
  width: auto;
  min-height: auto;
}

.grid__item:last-child {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 0;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

.button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #ffcc33;
  color: #6633cc;
  text-decoration: none;
  padding: 15px;
  border-radius: 0px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s color, background-color;
  -o-transition: 0.5s color, background-color;
  transition: 0.5s color, background-color;
}

button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #ffcc33;
  color: #6633cc;
  text-decoration: none;
  padding: 15px;
  border-radius: 0px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s color, background-color;
  -o-transition: 0.5s color, background-color;
  transition: 0.5s color, background-color;
}

button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: #ccffff;
  background-color: #6633cc;
}

button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: #ccffff;
  background-color: #6633cc;
}

.button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: #ccffff;
  background-color: #6633cc;
}

.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: #ccffff;
  background-color: #6633cc;
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}

.tower-ball {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes color-change {
  0% {
    fill: #3366ff;
  }
  50% {
    fill: #ffcc33;
  }
  100% {
    fill: #6633cc;
  }
}

@keyframes color-change {
  0% {
    fill: #3366ff;
  }
  50% {
    fill: #ffcc33;
  }
  100% {
    fill: #6633cc;
  }
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 24px;
  }
}
